@model IEnumerable<WebApplication1.Models.DocumentFile>

@{
    ViewData["Title"] = "Index";
}

<header class="d-inline-flex flex-row my-3">
    <a asp-controller="Documents" asp-action="Index" asp class="nav-link text-dark btn btn-outline-secondary mx-1">Back to index</a>
    <button class="nav-link text-white btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#savePopup">Save</button>
    <div class="modal fade" id="savePopup" tabindex="-1" aria-labelledby="Save popup" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Save changes?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you want to save the current state of the document?</p>
                </div>
                <div class="modal-footer">
                    <a asp-action="SaveDocument" class="btn btn-primary">Save!</a>
                    <a asp-action="DiscardDocument" class="btn btn-secondary" data-bs-dismiss="modal">Discard!</a>
                </div>
            </div>
        </div>
    </div>
    @* <button class="nav-link text-white btn btn-warning mx-1">Edit</button> *@
</header>
<div class="bg-light p-3">
    <span class="fw-bold">@ViewData["DocumentSubject"]</span>
    <h3>@ViewData["DocumentTitle"]</h3>

    @foreach (var item in Model)    
    {
        <div class="border-bottom mb-3 pb-3">
            <svg class="img-fluid" style="width: 16px; height: 17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M364.2 83.8c-24.4-24.4-64-24.4-88.4 0l-184 184c-42.1 42.1-42.1 110.3 0 152.4s110.3 42.1 152.4 0l152-152c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-152 152c-64 64-167.6 64-231.6 0s-64-167.6 0-231.6l184-184c46.3-46.3 121.3-46.3 167.6 0s46.3 121.3 0 167.6l-176 176c-28.6 28.6-75 28.6-103.6 0s-28.6-75 0-103.6l144-144c10.9-10.9 28.7-10.9 39.6 0s10.9 28.7 0 39.6l-144 144c-6.7 6.7-6.7 17.7 0 24.4s17.7 6.7 24.4 0l176-176c24.4-24.4 24.4-64 0-88.4z" /></svg>
            <a asp-action="DocumentDownload" asp-route-id="@item.Id">@item.FileName</a>
            
                @* <svg class="img-fluid" style="width: 16px; height: 17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" /></svg> *@
  
            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-docID="@(ViewContext.RouteData.Values["id"])" class="text-decoration-none">
                <svg class="img-fluid" style="width: 16px; height: 17px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z" /></svg>
            </a>
            <br> Added by <a href="">@item.FileUploader</a>
            -&nbsp;@item.FileTime.ToString("dd/MM/yyyy")&nbsp;<span class="text-decoration-underline">@item.FileTime.ToString("hh:mm")</span>&nbsp;@item.FileTime.ToString("tt")
        </div>

    }
    <p>
        <a asp-action="Create" asp-route-id="@(ViewContext.RouteData.Values["id"])" class="btn btn-outline-secondary text-dark w-25">Add file</a>
    </p>
</div>
